.status__icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.active {
    background-color: green;
    box-shadow: 0 0 20px 5px rgba(0, 128, 0, 0.5);
}

.error {
    background-color: red;
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.5);
}

.ring {
    background-color: orange;
    box-shadow: 0 0 20px 5px rgba(255, 165, 0, 0.5);
}
